img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

img.loaded {
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-right-top {
    opacity: 0;
    transform: translate(-50px, 50px);
    transition: all 0.6s ease-out;
}

.fade-in-right-top.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.fade-in-left {
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.6s ease-out;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.6s ease-out;
}

.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
}